td,
table,
th {
  border-collapse: collapse;
  user-select: none;
  border: 2px solid black;
}

.examName {
  font-weight: bold;
  font-size: 14pt;
  color: rgb(153, 0, 204);
}

.examList {
  user-select: text;
  padding: 0.2em;
}

.invigilatorList {
  user-select: text;
  padding: 0.2em;
}

td.exams {
  height: 60px;
}

td.times {
  width: 20px;
}

.HardConstraintBroken {
  font-weight: bold;
  color: red;
}

.SoftConstraintBroken {
  font-weight: bold;
  color: blue;
}

.Info {
  font-weight: bold;
  color: grey;
}

.lecturer {
  font-weight: bold;
  color: blue;
}

div#description {
  padding: 4px;
  user-select: text;
  word-break: break-word;
  width: 15em;
}

.containerUnscheduled {
  padding: 0.3em;
  margin: 10px;
  border: 1px solid #fff;
  background-color: #ffffff;
  box-shadow: 0px 2px 7px #292929;
  border-radius: 10px;
}

.unscheduledHeader {
  font-weight: bold;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #EEE;
  background-color: #ffffff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

div.inner {
  padding: 5px;
  top: 5px;
  overflow: hidden;
  border: 1px solid white;
  background-color: rgb(255, 255, 60);
  vertical-align: top;
  display: block;
}

div.reExam {
  background-color: rgb(255, 255, 204);
}

div.goSlot {
  background-color: rgb(204, 255, 255);
}

div.examsBySameLecturer {
  font-weight: bold;
  color: blue;
  border: 2px solid blue;
}

div.overlap {
  padding: 2px;
  top: 0px;
  overflow: hidden;
  vertical-align: top;
  display: block;
  background-color: rgb(237, 236, 107);
}

div.conflicts {
  padding: 2px;
  top: 0px;
  overflow: hidden;
  vertical-align: top;
  display: block;
  font-weight: bold;
  background-color: rgb(200, 0, 0);
}

div.notPlannedByMe {
  padding: 2px;
  top: 0px;
  overflow: hidden;
  vertical-align: top;
  display: block;
  background-color: rgb(179, 179, 204);
}

div.innerUnscheduled {
  padding: 2px;
  top: 0px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}

div.innerUnscheduled:hover {
  background-color: rgb(133, 193, 236);
  cursor: pointer;
}

div.outer {
  padding: 5px;
  padding-top: 15px;
  height: 100%;
  max-width: 200px
}

div.outerUnscheduled {
  display: inline-block;
  width: 900px;
  max-width: 1000px;
  min-width: 300px;
  min-height: 100px;
}

div.inner:hover {
  background-color: rgb(133, 193, 236);
  cursor: pointer;
}

div.div_select {
  background-color: rgb(0, 200, 0) !important;
}

/*Div for error display*/

div.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

div.description {
  user-select: text;
  border: 0;
  padding: 5px;
  min-width: 400px;
}

ul.rooms {
  padding-left: 1.4em;
}

ul#conflictingAncodes,
li#conflictingAncodes {
  padding-left: 1.4em;
}

ul#registeredGroups,
li#registeredGroups {
  padding-left: 1.4em;
}

ul#groups,
li#groups {
  padding-left: 1.4em;
}

ol.invigilatorList,
li.invigilatorList {
  padding-left: 2.4em;
}

ul#overlaps,
li#overlaps {
  padding-left: 1.4em;
  overflow: auto;
  max-height: 20em;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h3 {
  font-weight: normal;
  text-transform: uppercase;
}

[draggable=true] {
  cursor: move;
}

[draggable=false] {
  cursor: not-allowed;
}

/* Style the tab */
.tab,
.invigtab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button,
.invigtab button {
    background-color: inherit;
    font-size: 16pt;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover,
.invigtab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active,
.invigtab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent,
.invigtabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* Aufsichten */

.invigilation {
    padding: 10px;
    top: 5px;
    height: 100%;
    overflow: hidden;
    border: 1px solid white;
    background-color: rgb(255, 255, 60);
}

.needsInvigilator {
  background-color: rgb(255, 102, 102)
}

.hasInvigilator {
  background-color: rgb(153, 255, 153)
}

/* Search */

.electron-in-page-search-window {
  width: 300px;
  height: 36px;
  background-color: white;
}

.electron-in-page-search-window.search-inactive {
  visibility: hidden;
}

.electron-in-page-search-window.search-active {
  visibility: visible;
}
