td,
table,
th {
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
  user-select: none;
  border: 2px solid black;
}

td.exams {
  height: 40px;
}

td.times {
  width: 20px;
}

div#description {
  padding: 4px;
  word-break: break-word;
  width: 15em;
}

.containerUnscheduled {
  padding: 0.3em;
  margin: 10px;
  border: 1px solid #fff;
  background-color: #ffffff;
  box-shadow: 0px 2px 7px #292929;
  border-radius: 10px;
}

.unscheduledHeader {
  font-weight: bold;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #EEE;
  background-color: #ffffff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

div.inner {
  padding: 2px;
  top: 0px;
  overflow: hidden;
  vertical-align: top;
  display: block;
}

div.innerUnscheduled {
  padding: 2px;
  top: 0px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}
div.innerUnscheduled:hover {
  background-color: rgb(60, 145, 207);
  cursor: pointer;
}

div.outer {
  height: 100%;
  max-width: 100px
}

div.outerUnscheduled {
  display: inline-block;
  /*border: 1px solid black;*/
  width: 900px;
  max-width: 1000px;
  min-width: 300px;
  min-height: 100px;
}

div.inner:hover {
  background-color: rgb(60, 145, 207);
  cursor: pointer;
}

div.div_select {
  background-color: rgb(212, 81, 81) !important;
}


/*Div for error display*/

div.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  border: 3px solid #e22d2d;
}

div.description {
  user-select: text;
  border: 0;
  padding: 5px;
  min-width: 400px;
}

ul#groups,
li#groups {
  padding-left: 15px;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h3 {
  font-weight: normal;
  text-transform: uppercase;
}

.tabs {
  top: 0;
  left: 0;
  display: block;
  width: auto;
}

.tabs .tab {
  display: block;
  float: left;
}

.tabs .tab>input[type='radio'] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.tabs .tab>label {
  font-size: 16px;
  position: relative;
  display: block;
  padding: 6px 21px;
  cursor: pointer;
  text-transform: uppercase;
  color: #000;
  background: #4a83fd;
}

.tabs .content {
  position: absolute;
  z-index: 0;
  top: 27px;
  left: 0;
  overflow: hidden;
  width: auto;
  padding: 25px;
  transition: opacity 200ms ease-out;
  opacity: 0;
  color: #000;
  background: #fff;
}

.tabs>.tab>[id^='tab']:checked+label {
  top: 0;
  color: #000;
  background: #fff;
}

.tabs>.tab>[id^='tab']:checked~[id^='tab-content'] {
  z-index: 1;
  transition: opacity 200ms ease-out;
  opacity: 1;
}

[draggable=true] {
  cursor: move;
}

[draggable=false] {
  cursor: not-allowed;
}
